/* Baseline styles */
:root {
  /*Colors sourced from coolors.co*/
  --black: #181818;
  --black-soft: #222222;
  --black-mute: #282828;

  --black-eerie: #0C1D17;
  --black-night: #060E0B;

  --white-green: #E2F3ED;
  --white-blue: #DEEBF7;

  --blue: #235789;
  --blue-light: #9EC3E6;
  --blue-dark: #153451;

  --green: #489982;
  --green-light: #9BD4BF;
  --green-dark: #204639;
  --green-dark-soft: #20463917;

  --red: #632B32;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  font-family: "Signika Negative", serif;
}

body{
  color: var(--black-night);
  background-color: var(--green-light);
  min-height: 100vh;
}

a {
  color: var(--green-dark);
  text-decoration: none;
}

a:hover {
  color: var(--green-light);
}

/* img {
  display: block;
  max-width: 100%;
} */