@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
}

main {
  margin: 0 auto;
  margin-top: 3rem;
  text-align: center;
}

.content-box {
  background-color: var(--green);
  border: var(--green-dark) solid 3px;
  border-radius: 8px;
  padding: 1rem;
}